<h1>ログインページ</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <%= f.label :メールアドレス %>
  <%= f.email_field :email %>
  <%= f.label :パスワード %>
  <%= f.password_field :password %>
  <p id="create-session"><%= f.submit "ログイン" %></p>
<% end %>