<!DOCTYPE html>
<html  lang="ja">
  <head>
    <title>CdpWebRailsSessionLoginTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <% if logged_in? %>
    <li id="tasks-index"><%= link_to "タスク一覧", tasks_path %></li>
    <li id="new-task"><%= link_to "タスクを登録する", new_task_path %></li>
    <li id="my-account"><%= link_to "アカウント", user_path(current_user.id) %></li>
    <li id="sign-out"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
    <% else %>
    <li id="sign-up"><%= link_to "アカウント登録", new_user_path %></li>
    <li id="sign-in"><%= link_to "ログイン", new_session_path %></li>
    <% end %>
    <%= yield %>
  </body>
</html>
